@charset "utf-8";

.busi{
    background-image: url(../img/business/bg.jpg);
    position: relative;
}

.busi .tit_box{
    width: 1180px;
    height: 200px;
    background-color: #f47321;
    position: absolute;
    left: 50%; 
    bottom: -130px;
    transform: translateX(-50%);
    padding: 42px 0;
}
.busi .tit_box .innerBox{
    color: #fff;
    text-align: center;

}
.busi .tit_box .innerBox img{}
.busi .tit_box .innerBox h1{
    font-size: 26px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 10px;
}
.busi .tit_box .innerBox h1 span:nth-child(1){
    display: block;
    width: 1px; height: 24px;
    margin: 0 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/business/title_border.png);
}
.busi .tit_box .innerBox h1 span:nth-child(2){
    font-size: 30px;
}
.busi .tit_box .innerBox p{
    font-size: 14px;
}

#mid_txt{
    padding: 130px 0 100px;
    text-align: center;
    color: #000;
}

#mid_txt .cate{
    padding-bottom: 80px;
}

#mid_txt p{
    width: 780px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -1px;
}

#project .slide_box{
    margin-top: 40px;
}
#project .slide_box .slider{
    width: 100%; 
}
#project .slide_box .slider .slide{
    border-bottom: 1px solid #f47321;
    width: 100%;
    position: relative;
}

#project .slide_box .slider .slide .img{
    height: 475px;
    background-size: cover;
    background-position: 50% 50%;
}
#project .slide_box .slider .slick_1 .img{
    background-image: url(../img/business/slide02.jpg);
}
#project .slide_box .slider .slick_2 .img{
    background-image: url(../img/business/slide01.jpg);
}

#project .slide_box .slider .slide ul{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#project .slide_box .slider .slide ul li{
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
}
#project .slide_box .slider .slide ul li:first-child{
    font-size: 22px;
    margin: 0 10px 0 0;
}

#project .slide_box .slider .slide ul li span{
    font-weight: 400; 
    margin-left: 5px;
}
#project .slide_box .slider .slide ul li.button{
    position: absolute;
    bottom: 5px; right: -10px;
}
#project .slide_box .slider .slide ul li a{
    display: block;
    width: 160px; height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #f47321;
    font-weight: 400;
}

.slick-prev:before, .slick-next:before{font-size: 0px;}
.slick-prev:hover, .slick-prev:focus{background-image: url(../img/business/slide_prev.png);}
.slick-next:hover, .slick-next:focus{background-image: url(../img/business/slide_next.png);}

.slick-prev, .slick-next{
    background-size: cover;
    background-position: 50% 50%;
    width: 64px; height: 64px;
    z-index: 2;
    top: 43%;
}
.slick-prev{background-image: url(../img/business/slide_prev.png); left: 0;}
.slick-next{background-image: url(../img/business/slide_next.png); right: 0;}


#six_conts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0;
}
#six_conts .box{
    width: 380px;
    height: 300px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-size: cover;
    background-position: 50% 50%;
    /* background-image: url(../img/business/01_img.png); */
}
#six_conts .box:nth-child(3n){
    margin-right: 0;
}
#six_conts .box h1{
    font-size: 22px;
    color: #f47321;
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 0;
    text-align: center;
    position: relative;
}
#six_conts .box h1 span{
    font-size: 30px;
    position: absolute;
    left: 10px; top: 50%;
    transform: translateY(-50%);
}
#six_conts .box p{
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

@media (max-width:1023px){
    .busi .tit_box{
        width: 90%;
    }

    article{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    #business .cate{
        width: 100%;
    }
    #business .mid_txt{
        width: 100%;
    }

    .slide_box .slider .slide ul li.button{
        bottom: 60px;
    }
    .slide_box .slider .slide ul li a{
        width: 140px;
    }

    #six_conts .box{
        width: calc(50% - 10px);
    }
}
@media (max-width:767px){
    #mid_txt{
        padding: 90px 0 80px;
    }

    .busi .tit_box{
        width: 84%; 
        height: auto;
        padding: 30px 3%;
        bottom: -30px;
    }

    .busi .tit_box .innerBox img{
        width: 55px; height: 36px;
    }
    #headBg.busi .tit_box .innerBox h1{
        font-size: 20px;
        padding: 0 0 5px;
    }
    .busi .tit_box .innerBox h1 span:nth-child(2){
        font-size: 24px;
    }
    .busi .tit_box .innerBox p{
        font-size: 13px;
    }

    #business .cate{
        display: none;
    }

    #business .mid_txt{
        padding: 90px 0 60px;
    }

    #project .tit h1{
        font-size: 20px;
    }

    .slide_box .slider .slide ul{
        background: #eee;
        justify-content: space-around;      
        padding-bottom: 90px;  
    }
    .slide_box .slider .slide ul li{
    }
    .slide_box .slider .slide ul li:first-child{
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .slide_box .slider .slide ul li.button{
        bottom: 20px;
        right: 50%;
        margin-right: -70px;
    }
    .slide_box .slider .slide ul li a{
        
    }

    .slide_box .slider .slide .img{
        height: 260px;
    }

    .slick-prev, .slick-next{
        width: 44px; height: 44px;
        top: 33%;
    }


    #six_conts .box{
        width: 100%;
    }

}