@charset "utf-8";

main{
    width: 100%; height: 960px;
    position: relative;
    overflow: hidden;
}
main #slider{
    width: 400%; height: 960px;
    /* background-color: #ddd;  */
    display: flex; flex-wrap: wrap;
    margin-left: -100%;
}
main #slider .slide{
    width: 25%; height: 100%;
    background-size: cover; 
    background-position: 50% 50%;
    /* background-image: url(../img/main_slide01.jpg); */
    position: relative;
}
main #slider .slide .txtCont{
    position: absolute;
    bottom: 160px; left: 25%;
    color: #fff;
    /* background-color: #08f; */
}
main #slider .slide .txtCont h2{
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
}
main #slider .slide .txtCont h1{
    font-size: 80px;
    font-weight: 400;
    line-height: 1;
    /* background:  #afa; */
}

main #slider .slide_02 .txtCont h1{margin-bottom: 20px;}

main #slider .slide .txtCont h3{
    font-size: 40px;
    font-weight: 400;
}
main #slider .slide .txtCont p{
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.7;
}
main #slider .slide .txtCont .moreBtn{}
main #slider .slide .txtCont .moreBtn button{
    width: 145px; height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

main .play_ctrl{
    position: absolute;
    bottom: 40px; left: 25%;
    display: flex;
}
main .play_ctrl a{
    margin-right: 10px;
}
main .play_ctrl a img{
    display: block;
    width: 36px; height: 36px;
}


article{
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

article#business .top_icon{}
article#business .top_icon img{
    display: block;
    width: 34px; height: 81px;
    margin: 0 auto;
}

article#business .title{
    /* background-color: #ffa; */
    text-align: center;
    margin: 40px 0 80px;
    color: #555;
}
article#business .title > h1{
    font-size: 50px;
    font-weight: 400;
}
article#business .title > p{
    font-size: 14px;
    margin-top: 10px;
}

article#business .contents{
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 80px;
}
article#business .contents .contBox{
    width: calc(25% - 20px); 
    margin: 0 10px;
}
article#business .contents .contBox .img{}
/* article#business .contents .contBox .img a{
    display: block;
    height: 150px;
    margin: 0 auto;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
} */
article#business .contents .contBox .img a{}
article#business .contents .contBox .img a img{
    display: block;
    height: 150px;
    margin: 0 auto;
}



article#business .contents .contBox .txt{
    margin-top: 40px;
}
article#business .contents .contBox .txt > p{
    font-size: 14px;
    line-height: 1.8;
    word-spacing: -1px;
}

 
article#images{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    padding: 0;
}
article#images .banner_box{
    width: calc(100% / 3); height: 470px;
    background-size: cover;
    background-position: 0% 50%;
    /* background-image: url(../img/business_img01.jpg); */
}
article#images .banner_box .dark{
    width: 100%; height: 100%; 
    background-color: #000;
    opacity: 0;
    position: relative;
}
article#images .banner_box:hover .dark{
    opacity: 0.8;
    transition: opacity 0.5s;
}
article#images .banner_box .dark .icon{
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
}
article#images .banner_box .dark .icon a{
    display: block;
    width: 52px; height: 53px;
    background-size: cover; 
    background-position: 50% 50%;
    background-image: url(../img/business_over_btn.png);
}
article#images .banner_box .dark .icon .txt{}
article#images .banner_box .dark .icon .txt p{
    font-size: 20px;
    color: #f47323;
}


article#story{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 30px;
}
article#story .title{
    text-align: center;
    margin-bottom: 80px;
}
article#story .title > h1{
    font-size: 50px;
    font-weight: 400;
    color: #555;
}
article#story .title > p{
    font-size: 14px;
    margin-top: 10px;
}

article#story .contents{
    display: flex; 
    flex-wrap: wrap;
}
article#story .contents .contBox{
    width: calc(100% / 3 - 20px); 
    margin: 0 10px;
}
article#story .contents .contBox .img{
    width: 100%; height: 220px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/story_img01.jpg);
}
article#story .contents .contBox .txt{
    font-size: 14px;
    line-height: 1.6;
}
article#story .contents .contBox .txt h4{
    margin: 20px 0;
}
article#story .contents .contBox .txt p{}


article#banner{
    width: 100%; height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/banner_img.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
article#banner .wrap{}
article#banner .wrap .txt{
    /* background: #faf; */
    text-align: center;
}
article#banner .wrap .txt .logoImg{
    width: 177px; height: 42px;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/banner_logo.png);
}
article#banner .wrap .txt h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin: 20px 0;
}
article#banner .wrap .txt button{
    width: 126px; height: 36px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


article#three_cont{
    margin: 80px auto;
}
article#three_cont .wrap{
    display: flex;
    flex-wrap: wrap;
}
article#three_cont .wrap .box{
    width: calc(100% / 3 - 20px); 
    height: 240px;
    margin: 0 10px;
}
article#three_cont .wrap .box .top{
    color: #fff;
    height: 100%;
    padding: 20px;
    position: relative;
}
article#three_cont .wrap .box .top > img.bar{
    margin-top: 20px;
}
article#three_cont .wrap .box .top h2{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 400;
}
article#three_cont .wrap .box .top span{
    font-size: 13px;
    color: #fff;
}
article#three_cont .wrap .box .top p{
    font-size: 14px;
    padding-top: 80px;
    line-height: 1.4;
}
article#three_cont .wrap .box .top .img{
    position: absolute;
    right: 20px; top: 20px;
}
article#three_cont .wrap .box .top .img > img{
    display: block;
}
article#three_cont .wrap .box .bottom_btn{
    margin-top: 30px;
}
article#three_cont .wrap .box .bottom_btn button{
    width: 100%; height: 40px;
    border: 1px solid #555;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}
article#three_cont .wrap .box .bottom_btn button span{
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/more_btn.png);
    width: 8px; height: 17px;
    position: absolute;
    top: 50%; right: 10px;
    transform: translateY(-50%);
}

article#three_cont .wrap .box.ctrb .top{
    background-color: #f47321;
}

article#three_cont .wrap .box.fp_box{}
article#three_cont .wrap .box.fp_box .top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #555;
}
article#three_cont .wrap .box.fp_box .top .inner{
    width: 50%;
    text-align: center;
}
article#three_cont .wrap .box.fp_box .top .inner img{
    padding-bottom: 20px;
}
article#three_cont .wrap .box.fp_box .top .inner h2{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}
article#three_cont .wrap .box.fp_box .top .inner p{
    padding-top: 0px;
}

article#three_cont .wrap .box.career .top{
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/career_img.jpg);
}

article#three_cont .wrap .box.three_btns{display: none;}
article#three_cont .wrap .box.three_btns ul{}
article#three_cont .wrap .box.three_btns ul li{}
article#three_cont .wrap .box.three_btns ul li button{}
article#three_cont .wrap .box.three_btns ul li button span{}




